[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
click-man = "*"
mkdocs = "*"
mkdocstrings = "*"
mkdocs-exclude = "*"
mkdocs-macros-plugin = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
mkdocs-redirects = "*"
mkdocs-git-revision-date-plugin = "*"
pymdown-extensions = "*"
mkdocs-git-revision-date-localized-plugin = "*"
pyspelling = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = tru